@use '../../abstracts/mixins/animations/mixin' as *;
@use '../../abstracts/variables/animation/variables' as *;
@use '../../abstracts/mixins/animations/reveal-mixin' as *;
@use '../../abstracts/mixins/animations/rotate-mixin' as *;
@use '../../abstracts/mixins/animations/spin-mixin' as *;

.animate {
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: both;
  animation-duration: 750ms;
  animation-fill-mode: both;
}

// single animations
.pulse {
  @include animationname(pulse);
  @include transformorigin(center);
}

@keyframes pulse {
  0% {
    @include animationtimingfunction(linear);
    @include transform(scale3d(1, 1, 1));
  }
  50% {
    @include transform(scale3d(0.8, 0.8, 0.8));
  }
  100% {
    @include animationtimingfunction($cubic);
    @include transform(scale3d(1, 1, 1));
  }
}

.flash {
  @include animationname(flash);
  @include cubic($cubic);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.poke-top {
  @include animationname(pokeTop);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeTop, 0, translateY(25px), rotate(2deg));
}
.poke-right {
  @include animationname(pokeRight);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeRight, 0, translateX(-25px), rotate(-2deg));
}
.poke-bottom {
  @include animationname(pokeBottom);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeBottom, 0, translateY(-25px), rotate(-2deg));
}
.poke-left {
  @include animationname(pokeLeft);
  @include backfacevisibility(hidden);
  @include pokeKeyframe();
}

.jolt {
  @include animationname(jolt);
  @include cubic($cubic);
}
@keyframes jolt {
  10% {
    @include transform(translateX(-5px));
  }
  20% {
    @include transform(translateX(10px));
  }
  30% {
    @include transform(translateX(-5px));
  }
  40% {
    @include transform(translateX(10px));
  }
  50% {
    @include transform(translateX(-5px));
  }
  60% {
    @include transform(translateX(10px));
  }
  70% {
    @include transform(translateX(-5px));
  }
  80% {
    @include transform(translateX(10px));
  }
  90% {
    @include transform(translateX(-5px));
  }
}

.jump {
  @include animationname(jump);
}

@keyframes jump {
  0% {
    @include cubic(cubic-bezier(0.2, 0.9, 0.3, 1.3));
    @include transform(translate3d(0, 5px, 0));
  }
  25% {
    @include cubic(cubic-bezier(0.4, 0, 1, 1));
    @include transform(translate3d(0, -50px, 0));
  }
  35% {
    @include cubic(cubic-bezier(0, 0, 0.6, 1));
    @include transform(translate3d(0, 0, 0));
  }
  50% {
    @include cubic(cubic-bezier(0.4, 0, 1, 1));
    @include transform(translate3d(0, -20px, 0));
  }
  70% {
    @include cubic(cubic-bezier(0, 0, 0.6, 1));
    @include transform(translate3d(0, 0, 0));
  }
  85% {
    @include cubic(cubic-bezier(0.4, 0, 1, 1));
    @include transform(translate3d(0, -10px, 0));
  }
  100% {
    @include cubic(cubic-bezier(0.4, 0, 0.6, 1));
    @include transform(translate3d(0, 0, 0));
  }
}

// REVEAL
.reveal-up {
  @include animationname(revealUp);
  @include backfacevisibility(hidden);
  @include revealMixin(revealUp, center bottom, scale3d(0, 0, 0), scale3d(1, 0, 1), scale3d(1, 1, 1));
}
.reveal-down {
  @include animationname(revealDown);
  @include backfacevisibility(hidden);
  @include revealMixin(revealDown, center top, scale3d(0, 0, 0), scale3d(1, 0, 1), scale3d(1, 1, 1));
}
.reveal-left {
  @include animationname(revealLeft);
  @include backfacevisibility(hidden);
  @include revealMixin(revealLeft, center left, scale3d(0, 1, 1), scale3d(0, 1, 1), scale3d(1, 1, 1));
}
.reveal-right {
  @include animationname(revealRight);
  @include backfacevisibility(hidden);
  @include revealMixin(revealRight, center right, scale3d(0, 1, 1), scale3d(0, 1, 1), scale3d(1, 1, 1));
}

// Rotate
.rotate-in-left {
  @include animationname(rotateInLeft);
  @include cubic($cubic);
  @include backfacevisibility(hidden);
  @include rotateMixin(
    rotateInLeft,
    scale3d(0.75, 0.75, 0.75) rotate(-45deg),
    scale3d(1.25, 1.25, 1.25) rotate(15deg),
    scale3d(0.75, 0.75, 0.75) rotate(-15deg),
    scale3d(1, 1, 1) rotate(0deg)
  );
}
.rotate-out-left {
  @include animationname(rotateOutLeft);
  @include cubic($cubic);
  @include backfacevisibility(hidden);
  @include rotateMixin(
    rotateOutLeft,
    scale3d(1, 1, 1) rotate(0deg),
    scale3d(0.75, 0.75, 0.75) rotate(-15deg),
    scale3d(1.25, 1.25, 1.25) rotate(15deg),
    scale3d(0.75, 0.75, 0.75) rotate(-45deg),
    false
  );
}
.rotate-in-right {
  @include animationname(rotateInRight);
  @include cubic($cubic);
  @include backfacevisibility(hidden);
  @include rotateMixin(
    rotateInRight,
    scale3d(0.75, 0.75, 0.75) rotate(45deg),
    scale3d(1.25, 1.25, 1.25) rotate(-15deg),
    scale3d(0.75, 0.75, 0.75) rotate(15deg),
    scale3d(1, 1, 1) rotate(0deg)
  );
}
.rotate-out-right {
  @include animationname(rotateOutRight);
  @include cubic($cubic);
  @include backfacevisibility(hidden);
  @include rotateMixin(
    rotateOutRight,
    scale3d(1, 1, 1) rotate(0deg),
    scale3d(0.75, 0.75, 0.75) rotate(15deg),
    scale3d(1.25, 1.25, 1.25) rotate(-15deg),
    scale3d(0.75, 0.75, 0.75) rotate(45deg),
    false
  );
}

// spin
// $name, $value1, $value2, $value3, isTrue: true
.spin-in-left {
  @include animationname(spinInLeft);
  @include backfacevisibility(hidden);
  @include spinMixin(
    spinInLeft,
    translateX(-100px) rotate(540deg),
    translateX(45px) rotate(45deg),
    translateX(0) rotate(0deg)
  );
}
.spin-in-right {
  @include animationname(spinInRight);
  @include backfacevisibility(hidden);
  @include spinMixin(
    spinInRight,
    translateX(100px) rotate(-540deg),
    translateX(45px) rotate(-45deg),
    translateX(0) rotate(0deg)
  );
}
.spin-in-top {
  @include animationname(spinInTop);
  @include backfacevisibility(hidden);
  @include spinMixin(
    spinInTop,
    translateY(-100px) rotate(-540deg),
    translateY(45px) rotate(-45deg),
    translateY(0) rotate(0deg)
  );
}
.spin-in-bottom {
  @include animationname(spinInBottom);
  @include backfacevisibility(hidden);
  @include spinMixin(
    spinInBottom,
    translateY(100px) rotate(-540deg),
    translateY(45px) rotate(-45deg),
    translateY(0) rotate(0deg)
  );
}
