@use '../../abstracts/mixins/animations/mixin' as *;
@use '../../abstracts/variables/animation/variables' as *;

.animate {
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: both;
  animation-duration: 750ms;
  animation-fill-mode: both;
}

// single animations
.pulse {
  @include animationname(pulse);
  @include transformorigin(center);
}

@keyframes pulse {
  0% {
    @include animationtimingfunction(linear);
    @include transform(scale3d(1, 1, 1));
  }
  50% {
    @include transform(scale3d(0.8, 0.8, 0.8));
  }
  100% {
    @include animationtimingfunction($cubic);
    @include transform(scale3d(1, 1, 1));
  }
}

.flash {
  @include animationname(flash);
  @include cubic($cubic);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.poke-top {
  @include animationname(pokeTop);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeTop, 0, translateY(25px), rotate(2deg));
}
.poke-right {
  @include animationname(pokeRight);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeRight, 0, translateX(-25px), rotate(-2deg));
}
.poke-bottom {
  @include animationname(pokeBottom);
  @include backfacevisibility(hidden);
  @include pokeKeyframe(pokeBottom, 0, translateY(-25px), rotate(-2deg));
}
.poke-left {
  @include animationname(pokeLeft);
  @include backfacevisibility(hidden);
  @include pokeKeyframe();
}
