@use 'sass:math';
@use '../variables/utilities' as *;

// flex display
@each $key, $value in $display {
  .#{$key} {
    display: $value;
  }
}

// flex direction
@each $key, $value in $flexdirection {
  .#{$key} {
    flex-direction: $value;
  }
}

// flex wrap
@each $key, $value in $flexwrap {
  .#{$key} {
    flex-wrap: $value;
  }
}
