$utilities: (
  'display': (
    'values': (
      display-none: none,
      block: block,
      inline-block: inline-block,
      inline: inline,
      flex: flex,
      inline-flex: inline-flex,
      table: table,
      inline-table: inline-table,
      table-caption: table-caption,
      table-cell: table-cell,
      table-column: table-column,
      table-column-group: table-column-group,
      table-footer-group: table-footer-group,
      table-header-group: table-header-group,
      table-row-group: table-row-group,
      table-row: table-row,
      flow-root: flow-root,
      grid: grid,
      inline-grid: inline-grid,
      contents: contents,
      list-item: list-item
    )
  ),
  'flex-direction': (
    'values': (
      flex-row: row,
      flex-row-reverse: row-reverse,
      flex-col: column,
      flex-col-reverse: column-reverse
    )
  ),
  'flex-wrap': (
    'values': (
      flex-wrap: wrap,
      flex-wrap-reverse: wrap-reverse,
      flex-nowrap: nowrap,
      flex-revert: revert
    )
  ),
  'flex-grow': (
    'values': (
      grow: 1,
      grow-none: 0
    )
  ),
  'flex-shrink': (
    'values': (
      shrink: 1,
      shrink-none: 0
    )
  ),
  'order': (
    'values': (
      order-1: 1,
      order-2: 2,
      order-3: 3,
      order-4: 4,
      order-5: 5,
      order-6: 6,
      order-7: 7,
      order-8: 8,
      order-9: 9,
      order-10: 10,
      order-11: 11,
      order-12: 12,
      order-first: -9999,
      order-last: 9999,
      order-none: 0
    )
  ),
  'grid-template-columns': (
    'values': (
      grid-col-1: repeat(1, minmax(0, 1fr)),
      grid-col-2: repeat(2, minmax(0, 1fr)),
      grid-col-3: repeat(3, minmax(0, 1fr)),
      grid-col-4: repeat(4, minmax(0, 1fr)),
      grid-col-5: repeat(5, minmax(0, 1fr)),
      grid-col-6: repeat(6, minmax(0, 1fr)),
      grid-col-7: repeat(7, minmax(0, 1fr)),
      grid-col-8: repeat(8, minmax(0, 1fr)),
      grid-col-9: repeat(9, minmax(0, 1fr)),
      grid-col-10: repeat(10, minmax(0, 1fr)),
      grid-col-11: repeat(11, minmax(0, 1fr)),
      grid-col-12: repeat(12, minmax(0, 1fr)),
      grid-col-none: none
    )
  )
);
