@use './mixin' as *;

@mixin bounceMixin($name, $transform1, $transform2, $transform3, $inTrue: true) {
  @keyframes #{$name} {
    0% {
      @if ($inTrue == true) {
        opacity: 0;
      } @else {
        opacity: 1;
      }
      @include cubic(ease);
      @include transform($transform1);
    }
    30% {
      @if ($inTrue == true) {
        opacity: 0.45;
      }
    }
    70% {
      @if ($inTrue == false) {
        opacity: 0.5;
      }
      @include cubic(ease-out);
      @include transform($transform2);
    }
    100% {
      @if ($inTrue == false) {
        opacity: 0;
      }
      @include cubic(ease-in-out);
      @include transform($transform3);
    }
  }
}
