@use './mixin' as *;
// @use '../../variables/animation/variables' as *;

@mixin fadeMixin($name, $transform1, $transform2, $inTrue: true) {
  @keyframes #{$name} {
    0% {
      @if ($transform1 != '') {
        @include transform($transform1);
      }
      @if ($inTrue == true) {
        opacity: 0;
      } @else {
        opacity: 1;
      }
    }
    45% {
      opacity: 0.33;
    }
    100% {
      @if ($transform2 != '') {
        @include transform($transform2);
      }
      @if ($inTrue == false) {
        opacity: 0;
      } @else {
        opacity: 1;
      }
    }
  }
}
