@mixin animation(
  $bp: delay-,
  $firstnumber: 1,
  $secondnumber: 100,
  $classname: animation-delay,
  $calculate: 100,
  $postfix: ms,
  $multiply: 1ms
) {
  @for $i from $firstnumber through $secondnumber {
    $animationvalue: $i * $calculate;

    .#{$bp}#{$animationvalue}#{$postfix} {
      #{$classname}: $animationvalue * $multiply;
    }
    .hover\:#{$bp}#{$animationvalue}#{$postfix} {
      #{$classname}: $animationvalue * $multiply;
    }
  }
}
