@use './mixin' as *;

@mixin popMixin(
  $name,
  $cubic1,
  $transform1,
  $cubic2,
  $transform2,
  $cubic3,
  $transform3,
  $cubic4,
  $transform4,
  $cubic5,
  $transform5,
  $inTrue: true
) {
  @keyframes #{$name} {
    0% {
      @if ($inTrue == true) {
        opacity: 0;
      }
      @include cubic($cubic1);
      @include transform($transform1);
    }
    25% {
      @if ($inTrue == true) {
        opacity: 0.66;
      }
      @include cubic($cubic2);
      @include transform($transform2);
    }
    50% {
      @include cubic($cubic3);
      @include transform($transform3);
    }
    75% {
      @if ($inTrue == false) {
        opacity: 0.66;
      }
      @include cubic($cubic4);
      @include transform($transform4);
    }
    100% {
      @if ($inTrue == false) {
        opacity: 0;
      }
      @include cubic($cubic5);
      @include transform($transform5);
    }
  }
}
