@use 'sass:math';
@use '../../abstracts/variables/flex-grid/variables' as *;

// generate utility classes
@each $property, $map in $utilities {
  $key: map-get($map, 'keys');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    .#{$key}#{$k} {
      #{$property}: $v;
    }
  }
}
// flex basis numbers 0rem-100rem
@for $i from 0 through 100 {
  $flexbasis: $i;
  .basis-#{$flexbasis} {
    flex-basis: $flexbasis * 1rem;
  }
}
// flex basis numbers 0%-100%
@for $i from 0 through 100 {
  $flexbasis: $i;
  .basis-#{$flexbasis}per {
    flex-basis: $flexbasis * 1%;
  }
}
