$border-style: (
  'border-style': (
    'values': (
      border-solid: solid,
      border-dashed: dashed,
      border-dotted: dotted,
      border-double: double,
      border-hidden: hidden,
      border-none: none
    )
  ),
  'outline-style': (
    'values': (
      outline-none: none,
      outline-solid: solid,
      outline-dashed: dashed,
      outline-dotted: dotted,
      outline-double: double,
      outline-hidden: hidden
    )
  )
);
