$border-style: (
  'border-style': (
    'values': (
      border-solid: solid,
      border-dashed: dashed,
      border-dotted: dotted,
      border-double: double,
      border-hidden: hidden,
      border-none: none
    )
  )
);
