@use '../../abstracts/mixins/borders/mixin' as *;
@use '../../abstracts/mixins/reusable/omen-mixin.scss' as *;
@use '../../abstracts/mixins/breakpoints/mixin' as *;

@use '../../abstracts/variables/color/variables' as *;
@use '../../abstracts/variables/borders/variables' as *;

// file for borders classes - for minified omencss-borders css
@include eachValues('', $border-style);
@include borderColorMixin(border-, $fullcolors, border-color, hover);
@include borderColorMixin(border-, $lightdark, border-color, hover);
@include borderColorMixin(outline-, $fullcolors, outline-color, hover);
@include borderColorMixin(outline-, $lightdark, outline-color, hover);
@include universalMixin(true, true, true, rounded-, border-radius, px, 0, 100, 1, 1px);
@include borderMixin(rounded-top-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-top-right-radius);
@include borderMixin(rounded-right-radius-, px, border-top-right-radius, 0, 100, 1, 1px, true, border-bottom-right-radius);
@include borderMixin(rounded-bottom-radius-, px, border-bottom-right-radius, 0, 100, 1, 1px, true, border-bottom-left-radius);
@include borderMixin(rounded-left-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-bottom-left-radius);
@include universalMixin(true, true, true, border-, border-width, px, 0, 10, 1, 1px);
@include borderMixin(border-x-, px, border-left-width, 0, 10, 1, 1px, true, border-right-width);
@include borderMixin(border-y-, px, border-top-width, 0, 10, 1, 1px, true, border-bottom-width);
@include universalMixin(true, true, true, border-top-width-, border-top-width, px, 0, 10, 1, 1px);
@include universalMixin(true, true, true, border-right-width-, border-right-width, px, 0, 10, 1, 1px);
@include universalMixin(true, true, true, border-bottom-width-, border-bottom-width, px, 0, 10, 1, 1px);
@include universalMixin(true, true, true, border-left-width-, border-left-width, px, 0, 10, 1, 1px);
@include universalMixin(true, true, true, outline-offset-, outline-offset, px, 0, 10, 1, 1px);
@include universalMixin(true, true, true, outline-, outline-width, px, 0, 10, 1, 1px);

@include sm {
  @include eachValues(sm\:, $border-style);
  @include borderColorMixin(sm\:border-, $fullcolors, border-color, hover);
  @include borderColorMixin(sm\:border-, $lightdark, border-color, hover);
  @include borderColorMixin(sm\:outline-, $fullcolors, outline-color, hover);
  @include borderColorMixin(sm\:outline-, $lightdark, outline-color, hover);
  @include universalMixin(true, true, true, sm\:rounded-, border-radius, px, 0, 100, 1, 1px);
  @include borderMixin(sm\:rounded-top-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-top-right-radius);
  @include borderMixin(sm\:rounded-right-radius-, px, border-top-right-radius, 0, 100, 1, 1px, true, border-bottom-right-radius);
  @include borderMixin(
    sm\:rounded-bottom-radius-,
    px,
    border-bottom-right-radius,
    0,
    100,
    1,
    1px,
    true,
    border-bottom-left-radius
  );
  @include borderMixin(sm\:rounded-left-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-bottom-left-radius);
  @include universalMixin(true, true, true, sm\:border-, border-width, px, 0, 10, 1, 1px);
  @include borderMixin(sm\:border-x-, px, border-left-width, 0, 10, 1, 1px, true, border-right-width);
  @include borderMixin(sm\:border-y-, px, border-top-width, 0, 10, 1, 1px, true, border-bottom-width);
  @include universalMixin(true, true, true, sm\:border-top-width-, border-top-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, sm\:border-right-width-, border-right-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, sm\:border-bottom-width-, border-bottom-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, sm\:border-left-width-, border-left-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, sm\:outline-offset-, outline-offset, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, sm\:outline-, outline-width, px, 0, 10, 1, 1px);
}
@include md {
  @include eachValues(md\:, $border-style);
  @include borderColorMixin(md\:border-, $fullcolors, border-color, hover);
  @include borderColorMixin(md\:border-, $lightdark, border-color, hover);
  @include borderColorMixin(md\:outline-, $fullcolors, outline-color, hover);
  @include borderColorMixin(md\:outline-, $lightdark, outline-color, hover);
  @include universalMixin(true, true, true, md\:rounded-, border-radius, px, 0, 100, 1, 1px);
  @include borderMixin(md\:rounded-top-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-top-right-radius);
  @include borderMixin(md\:rounded-right-radius-, px, border-top-right-radius, 0, 100, 1, 1px, true, border-bottom-right-radius);
  @include borderMixin(
    md\:rounded-bottom-radius-,
    px,
    border-bottom-right-radius,
    0,
    100,
    1,
    1px,
    true,
    border-bottom-left-radius
  );
  @include borderMixin(md\:rounded-left-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-bottom-left-radius);
  @include universalMixin(true, true, true, md\:border-, border-width, px, 0, 10, 1, 1px);
  @include borderMixin(md\:border-x-, px, border-left-width, 0, 10, 1, 1px, true, border-right-width);
  @include borderMixin(md\:border-y-, px, border-top-width, 0, 10, 1, 1px, true, border-bottom-width);
  @include universalMixin(true, true, true, md\:border-top-width-, border-top-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, md\:border-right-width-, border-right-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, md\:border-bottom-width-, border-bottom-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, md\:border-left-width-, border-left-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, md\:outline-offset-, outline-offset, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, md\:outline-, outline-width, px, 0, 10, 1, 1px);
}
@include lg {
  @include eachValues(lg\:, $border-style);
  @include borderColorMixin(lg\:border-, $fullcolors, border-color, hover);
  @include borderColorMixin(lg\:border-, $lightdark, border-color, hover);
  @include borderColorMixin(lg\:outline-, $fullcolors, outline-color, hover);
  @include borderColorMixin(lg\:outline-, $lightdark, outline-color, hover);
  @include universalMixin(true, true, true, lg\:rounded-, border-radius, px, 0, 100, 1, 1px);
  @include borderMixin(lg\:rounded-top-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-top-right-radius);
  @include borderMixin(lg\:rounded-right-radius-, px, border-top-right-radius, 0, 100, 1, 1px, true, border-bottom-right-radius);
  @include borderMixin(
    lg\:rounded-bottom-radius-,
    px,
    border-bottom-right-radius,
    0,
    100,
    1,
    1px,
    true,
    border-bottom-left-radius
  );
  @include borderMixin(lg\:rounded-left-radius-, px, border-top-left-radius, 0, 100, 1, 1px, true, border-bottom-left-radius);
  @include universalMixin(true, true, true, lg\:border-, border-width, px, 0, 10, 1, 1px);
  @include borderMixin(lg\:border-x-, px, border-left-width, 0, 10, 1, 1px, true, border-right-width);
  @include borderMixin(lg\:border-y-, px, border-top-width, 0, 10, 1, 1px, true, border-bottom-width);
  @include universalMixin(true, true, true, lg\:border-top-width-, border-top-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, lg\:border-right-width-, border-right-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, lg\:border-bottom-width-, border-bottom-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, lg\:border-left-width-, border-left-width, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, lg\:outline-offset-, outline-offset, px, 0, 10, 1, 1px);
  @include universalMixin(true, true, true, lg\:outline-, outline-width, px, 0, 10, 1, 1px);
}
