@use '../../variables/layout/variables' as *;

@mixin layoutvalues($bp: '') {
  @each $property, $map in $utilities {
    $key: map-get($map, 'keys');
    $values: map-get($map, 'values');

    @each $k, $v in $values {
      .#{$bp}#{$key}#{$k} {
        #{$property}: $v;
      }
    }
  }
}

@mixin layoutNumbers(
  $bp: '',
  $classname: font-size,
  $postfix: -rem,
  $firstnumber: 1,
  $secondnumber: 100,
  $calculate: 1,
  $multiply: 1
) {
  @for $i from $firstnumber through $secondnumber {
    $spacing: $i * $calculate;

    @if ($spacing < 0) {
      .#{$bp}neg#{$spacing}#{$postfix} {
        #{$classname}: $spacing * $multiply;
      }
    } @else {
      .#{$bp}#{$spacing}#{$postfix} {
        #{$classname}: $spacing * $multiply;
      }
    }
  }
}
