@mixin spacingNumbers(
  $bp: '',
  $postfix: '',
  $classname: padding,
  $firstnumber: 1,
  $secondnumber: 100,
  $calculate: 1,
  $multiply: 1px
) {
  @for $i from $firstnumber through $secondnumber {
    $spacing: $i * $calculate;

    @if ($secondnumber <= 0) {
      .#{$bp}-neg#{$spacing}#{$postfix} {
        #{$classname}: $spacing * $multiply;
      }
    } @else {
      .#{$bp}#{$spacing}#{$postfix} {
        #{$classname}: $spacing * $multiply;
      }
    }
  }
}
