$cubic: cubic-bezier(0.75, 0.25, 0.75, 0.25);

$animationutilities: (
  'transition-timing-function': (
    'values': (
      ease-linear: linear,
      ease: ease,
      ease-in: ease-in,
      ease-out: ease-out,
      ease-in-out: ease-in-out,
      cubic: cubic-bezier(0.75, 0.25, 0.75, 0.25)
    )
  ),
  'animation-iteration-count': (
    'values': (
      animation-infinite: infinite
    )
  ),
  'animation-fill-mode': (
    'values': (
      animation-forwards: forwards,
      animation-backwards: backwards,
      animation-both: both
    )
  ),
  'animation-direction': (
    'values': (
      animation-normal: normal,
      animation-reverse: reverse,
      animation-alternate: alternate,
      animation-alternate-reverse: alternate-reverse
    )
  )
);

$transitionutilities: (
  'transition-property': (
    'values': (
      transition-accent-color: accent,
      transition-all: all,
      transition-backdrop-filter: backdrop,
      transition-background: background,
      transition-background-color: background-color,
      transition-background-image: background-image,
      transition-background-position: background-position,
      transition-background-size: background-size,
      transition-block-size: block-size,
      transition-border: border,
      transition-border-bottom: border-bottom,
      transition-border-bottom-color: border-bottom-color,
      transition-border-bottom-width: border-bottom-width,
      transition-border-color: border-color,
      transition-border-left: border-left,
      transition-border-left-color: border-left-color,
      transition-border-left-width: border-left-width,
      transition-border-radius: border-radius,
      transition-border-right: border-right,
      transition-border-right-color: border-right-color,
      transition-border-right-width: border-right-width,
      transition-border-top: border-top,
      transition-border-top-color: border-top-color,
      transition-border-top-left-radius: border-top-left-radius,
      transition-border-top-right-radius: border-top-right-radius,
      transition-border-top-width: border-top-width,
      transition-border-width: border-width,
      transition-bottom: bottom,
      transition-box-shadow: box-shadow,
      transition-clip: clip,
      transition-clip-path: clip-path,
      transition-color: color,
      transition-font: font,
      transition-fill: fill,
      transition-filter: filter,
      transition-font-size: font-size,
      transition-font-weight: font-weight,
      transition-height: height,
      transition-left: left,
      transition-letter-spacing: letter-spacing,
      transition-line-height: line-height,
      transition-margin: margin,
      transition-margin-block-end: margin-block-end,
      transition-margin-block-start: margin-block-start,
      transition-margin-bottom: margin-bottom,
      transition-margin-inline-end: margin-inline-end,
      transition-margin-inline-start: margin-inline-start,
      transition-margin-left: margin-left,
      transition-margin-right: margin-right,
      transition-margin-top: margin-top,
      transition-max-height: max-height,
      transition-max-inline-size: max-inline-size,
      transition-max-width: max-width,
      transition-min-height: min-height,
      transition-min-width: min-width,
      transition-opacity: opacity,
      transition-outline: outline,
      transition-outline-color: outline-color,
      transition-outline-offset: outline-offset,
      transition-outline-width: outline-width,
      transition-padding: padding,
      transition-padding-block-end: padding-block-end,
      transition-padding-block-start: padding-block-start,
      transition-padding-bottom: padding-bottom,
      transition-padding-inline-end: padding-inline-end,
      transition-padding-inline-start: padding-inline-start,
      transition-padding-left: padding-left,
      transition-padding-right: padding-right,
      transition-padding-top: padding-top,
      transition-perspective: perspective,
      transition-perspective-origin: perspective-origin,
      transition-right: right,
      transition-rotate: rotate,
      transition-scale: scale,
      transition-scrollbar-color: scrollbar-color,
      transition-shape-margin: shape-margin,
      transition-shape-outside: shape-outside,
      transition-stroke: stroke,
      transition-text-decoration: text-decoration,
      transition-text-decoration-color: text-decoration-color,
      transition-text-decoration-thickness: text-decoration-thickness,
      transition-text-emphasis: text-emphasis,
      transition-text-emphasis-color: text-emphasis-color,
      transition-text-indent: text-indent,
      transition-text-shadow: text-shadow,
      transition-text-underline-offset: text-underline-offset,
      transition-top: top,
      transition-transform: transform,
      transition-transform-origin: transform-origin,
      transition-translate: translate,
      transition-vertical-align: vertical-align,
      transition-visibility: visibility,
      transition-width: width,
      transition-word-spacing: word-spacing,
      transition-z-index: z-index,
      transition-zoom: zoom
    )
  )
);
