@use '../../abstracts/mixins/reusable/omen-mixin.scss' as *;
@use '../../abstracts/mixins/color/mixin' as *;
@use '../../abstracts/mixins/breakpoints/mixin' as *;

@use '../../abstracts/variables/color/variables' as *;
@use '../../abstracts/variables/svg/variables' as *;

@include eachValues('', $svgValues);
@include lightColor(fill-, 0, 0, fill, $lightdark);
@include lightColor(fill-, 1, 10, fill, $colors);
@include lightColor(stroke-, 0, 0, stroke, $lightdark);
@include lightColor(stroke-, 1, 10, stroke, $colors);
@include universalMixin(true, true, true, stroke-, stroke-width, '', 0, 100, 1, 0.1);

@include sm {
  @include eachValues(sm\:, $svgValues);
  @include lightColor(sm\:fill-, 0, 0, fill, $lightdark);
  @include lightColor(sm\:fill-, 1, 10, fill, $colors);
  @include lightColor(sm\:stroke-, 0, 0, stroke, $lightdark);
  @include lightColor(sm\:stroke-, 1, 10, stroke, $colors);
  @include universalMixin(true, true, true, sm\:stroke-, stroke-width, '', 0, 100, 1, 0.1);
}
@include md {
  @include eachValues(md\:, $svgValues);
  @include lightColor(md\:fill-, 0, 0, fill, $lightdark);
  @include lightColor(md\:fill-, 1, 10, fill, $colors);
  @include lightColor(md\:stroke-, 0, 0, stroke, $lightdark);
  @include lightColor(md\:stroke-, 1, 10, stroke, $colors);
  @include universalMixin(true, true, true, md\:stroke-, stroke-width, '', 0, 100, 1, 0.1);
}
@include lg {
  @include eachValues(lg\:, $svgValues);
  @include lightColor(lg\:fill-, 0, 0, fill, $lightdark);
  @include lightColor(lg\:fill-, 1, 10, fill, $colors);
  @include lightColor(lg\:stroke-, 0, 0, stroke, $lightdark);
  @include lightColor(lg\:stroke-, 1, 10, stroke, $colors);
  @include universalMixin(true, true, true, lg\:stroke-, stroke-width, '', 0, 100, 1, 0.1);
}
