@use 'sass:math';
@use '../../variables/borders/variables' as *;
@use '../../variables/color/variables' as *;

@mixin filterMixin($bp: '', $firstnumber, $secondnumber, $calculate: 1, $calculateValue, $filter, $postfix: px) {
  @for $i from $firstnumber through $secondnumber {
    $value: $i * $calculate;
    $calculattion: ($value * $calculateValue);

    .#{$bp}#{$value}#{$postfix} {
      filter: #{$filter }($calculattion * 1);
      -webkit-filter: #{$filter }($calculattion * 1);
    }
    .hover\:#{$bp}#{$value}#{$postfix} {
      &:hover {
        filter: #{$filter }($calculattion * 1);
        -webkit-filter: #{$filter }($calculattion * 1);
      }
    }
  }
}

@mixin contrastMixin($bp: '') {
  @for $i from 0 through 50 {
    $value: $i * 0.1;
    $classNameValue: $i * 10;

    .#{$bp}#{$classNameValue} {
      filter: contrast($value);
    }
    .hover\:#{$bp}#{$classNameValue} {
      &:hover {
        filter: contrast($value);
      }
    }
  }
}

@mixin dropShadowMixin($bp: '', $firstnumber, $secondnumber, $loop, $selector: hover) {
  @each $key, $val in $loop {
    $shadowSize: 10px 10px 20px;

    @for $i from $firstnumber through $secondnumber {
      .#{$bp}#{$key} {
        filter: drop-shadow($shadowSize $val);
      }
      .#{$selector}\:#{$bp}#{$key} {
        &:#{$selector} {
          filter: drop-shadow($shadowSize $val);
        }
      }
    }
  }
}
