@use '../../variables/borders/variables' as *;

@mixin blurMixin($bp: '', $postfix: px) {
  @for $i from 0 through 20 {
    $value: $i * 10;

    .#{$bp}#{$value}#{$postfix} {
      filter: blur($value * 1px);
    }
    .hover\:#{$bp}#{$value}#{$postfix} {
      &:hover {
        filter: blur($value * 1px);
      }
    }
  }
}

@mixin brightnessMixin($bp: '') {
  @for $i from 0 through 50 {
    $value: $i * 0.1;
    $classNameValue: $i * 10;

    .#{$bp}#{$classNameValue} {
      filter: brightness($value);
    }
    .hover\:#{$bp}#{$classNameValue} {
      &:hover {
        filter: brightness($value);
      }
    }
  }
}

@mixin contrastMixin($bp: '') {
  @for $i from 0 through 50 {
    $value: $i * 0.1;
    $classNameValue: $i * 10;

    .#{$bp}#{$classNameValue} {
      filter: contrast($value);
    }
    .hover\:#{$bp}#{$classNameValue} {
      &:hover {
        filter: contrast($value);
      }
    }
  }
}
