// includes spacing and sizing variables

$svgValues: (
  'fill': (
    'values': (
      fill-inherit: inherit,
      fill-current: currentColor,
      fill-transparent: transparent
    )
  )
);
