// individual colors
$red: #f90606;
$orange: #f99106;
$yellow: #f9cf06;
$green: #80f906;
$greencss: #3e7a02;
$blue: #066ef9;
$turquoise: #06f9f9;
$purple: #8006f9;
$magenta: #f906e8;
$black: #101010;
$gray: #7d7d7d;

// theme color
$colors: (
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'greencss': $greencss,
  'blue': $blue,
  'turquoise': $turquoise,
  'purple': $purple,
  'magenta': $magenta,
  'black': $black,
  'gray': $gray
);

// custom user color
$customcolors: (
  'yellow': --custom-yellow,
  'red': --custom-red,
  'blue': --custom-blue,
  'purple': --custom-purple,
  'green': --custom-green,
  'orange': --custom-orange,
  'black': --custom-black,
  'white': --custom-white,
  'primary': --custom-primary,
  'secondary': --custom-secondary
);

$fullcolors: (
  'red': $red,
  'red-1': #fa1e1e,
  'red-2': #fa3535,
  'red-3': #fb4d4d,
  'red-4': #fb6565,
  'red-5': #fc7c7c,
  'red-6': #fc9494,
  'red-7': #fdacac,
  'red-8': #fec3c3,
  'red-9': #fedbdb,
  'red-10': #fff3f3,
  'orange': $orange,
  'orange-1': #fa9b1e,
  'orange-2': #faa635,
  'orange-3': #fbb04d,
  'orange-4': #fbbb65,
  'orange-5': #fcc57c,
  'orange-6': #fcd094,
  'orange-7': #fddaac,
  'orange-8': #fee5c3,
  'orange-9': #feefdb,
  'orange-10': #fffaf3,
  'yellow': $yellow,
  'yellow-1': #fad41e,
  'yellow-2': #fad835,
  'yellow-3': #fbdd4d,
  'yellow-4': #fbe165,
  'yellow-5': #fce67c,
  'yellow-6': #fcea94,
  'yellow-7': #fdefac,
  'yellow-8': #fef3c3,
  'yellow-9': #fef8db,
  'yellow-10': #fffdf3,
  'green': $green,
  'green-1': #8cfa1e,
  'green-2': #98fa35,
  'green-3': #a4fb4d,
  'green-4': #b0fb65,
  'green-5': #bcfc7c,
  'green-6': #c8fc94,
  'green-7': #d4fdac,
  'green-8': #e1fec3,
  'green-9': #edfedb,
  'green-10': #f9fff3,
  'greencss': $greencss,
  'greencss-1': #4a9202,
  'greencss-2': #56aa03,
  'greencss-3': #62c203,
  'greencss-4': #6ed904,
  'greencss-5': #7bf104,
  'greencss-6': #87fb12,
  'greencss-7': #93fc2a,
  'greencss-8': #9ffc42,
  'greencss-9': #abfc5a,
  'greencss-10': #b7fd72,
  'blue': $blue,
  'blue-1': #1e7cfa,
  'blue-2': #358afa,
  'blue-3': #4d97fb,
  'blue-4': #65a5fb,
  'blue-5': #7cb3fc,
  'blue-6': #94c1fc,
  'blue-7': #accefd,
  'blue-8': #c3dcfe,
  'blue-9': #dbeafe,
  'blue-10': #f3f8ff,
  'turquoise': $turquoise,
  'turquoise-1': #1efafa,
  'turquoise-2': #35fafa,
  'turquoise-3': #4dfbfb,
  'turquoise-4': #65fbfb,
  'turquoise-5': #7cfcfc,
  'turquoise-6': #94fcfc,
  'turquoise-7': #acfdfd,
  'turquoise-8': #c3fefe,
  'turquoise-9': #dbfefe,
  'turquoise-10': #f3ffff,
  'purple': $purple,
  'purple-1': #8c1efa,
  'purple-2': #9835fa,
  'purple-3': #a44dfb,
  'purple-4': #b065fb,
  'purple-5': #bc7cfc,
  'purple-6': #c894fc,
  'purple-7': #d4acfd,
  'purple-8': #e1c3fe,
  'purple-9': #eddbfe,
  'purple-10': #f9f3ff,
  'magenta': $magenta,
  'magenta-1': #fa1eea,
  'magenta-2': #fa35ec,
  'magenta-3': #fb4def,
  'magenta-4': #fb65f1,
  'magenta-5': #fc7cf3,
  'magenta-6': #fc94f5,
  'magenta-7': #fdacf7,
  'magenta-8': #fec3f9,
  'magenta-9': #fedbfc,
  'magenta-10': #fff3fe,
  'black': $black,
  'black-1': #1c1c1c,
  'black-2': #282828,
  'black-3': #343434,
  'black-4': #404040,
  'black-5': #4d4d4d,
  'black-6': #595959,
  'black-7': #656565,
  'black-8': #717171,
  'black-9': #7d7d7d,
  'black-10': #898989,
  'gray': $gray,
  'gray-1': #898989,
  'gray-2': #959595,
  'gray-3': #a1a1a1,
  'gray-4': #adadad,
  'gray-5': #bababa,
  'gray-6': #c6c6c6,
  'gray-7': #d2d2d2,
  'gray-8': #dedede,
  'gray-9': #eaeaea,
  'gray-10': #f6f6f6
);

$lightdark: (
  'white': #fdfdfd,
  'transparent': transparent
);

// bg gradient positions
$positions: (
  'top': top,
  'top-right': top right,
  'right': right,
  'bottom-right': bottom right,
  'bottom': bottom,
  'bottom-left': bottom left,
  'left': left,
  'top-left': top left
);
