// individual colors
$red: #ce1f1a;
$darkorange: #d54913;
$orange: #e98f1f;
$lightorange: #ffd300;
$yellow: #deff0a;
$yellowgreen: #a1ff0a;
$lightgreen: #0aff99;
$green: #3f7d1a;
$lightblue: #0aefff;
$blue: #147df5;
$darkblue: #0870c7;
$purple: #be0aff;
$magenta: #d03377;
$darkpurple: #580aff;
$black: #101010;

// theme color
$colors: (
  'red': $red,
  'darkorange': $darkorange,
  'orange': $orange,
  'lightorange': $lightorange,
  'yellow': $yellow,
  'yellowgreen': $yellowgreen,
  'lightgreen': $lightgreen,
  'green': $green,
  'lightblue': $lightblue,
  'blue': $blue,
  'darkblue': $darkblue,
  'purple': $purple,
  'magenta': $magenta,
  'darkpurple': $darkpurple,
  'black': $black
);

$fullcolors: (
  'red': $red,
  'red-1': #e42d28,
  'red-2': #e84c48,
  'red-3': #ec6b67,
  'red-4': #f08a87,
  'red-5': #f4a9a7,
  'darkorange': $darkorange,
  'darkorange-1': #eb5921,
  'darkorange-2': #ee7141,
  'darkorange-3': #f18a62,
  'darkorange-4': #f4a283,
  'darkorange-5': #f7bba4,
  'orange': $orange,
  'orange-1': #ec9f40,
  'orange-2': #efb060,
  'orange-3': #f3c081,
  'orange-4': #f6d0a1,
  'orange-5': #f9e0c2,
  'lightorange': $lightorange,
  'lightorange-1': #ffd924,
  'lightorange-2': #ffdf47,
  'lightorange-3': #ffe56b,
  'lightorange-4': #ffec8f,
  'lightorange-5': #fff2b3,
  'yellow': $yellow,
  'yellow-1': #e3ff2e,
  'yellow-2': #e8ff51,
  'yellow-3': #ecff75,
  'yellow-4': #f1ff99,
  'yellow-5': #f6ffbd,
  'yellowgreen': $yellowgreen,
  'yellowgreen-1': #afff2e,
  'yellowgreen-2': #bcff51,
  'yellowgreen-3': #caff75,
  'yellowgreen-4': #d8ff99,
  'yellowgreen-5': #e5ffbd,
  'lightgreen': $lightgreen,
  'lightgreen-1': #2effa8,
  'lightgreen-2': #51ffb7,
  'lightgreen-3': #75ffc6,
  'lightgreen-4': #99ffd4,
  'lightgreen-5': #bdffe3,
  'green': $green,
  'green-1': #4e9b20,
  'green-2': #5db826,
  'green-3': #6cd42e,
  'green-4': #81da4c,
  'green-5': #96e06a,
  'lightblue': $lightblue,
  'lightblue-1': #2ef1ff,
  'lightblue-2': #51f4ff,
  'lightblue-3': #75f6ff,
  'lightblue-4': #99f8ff,
  'lightblue-5': #bdfbff,
  'blue': $blue,
  'blue-1': #3690f6,
  'blue-2': #58a3f8,
  'blue-3': #7bb6f9,
  'blue-4': #9dc9fb,
  'blue-5': #bfdcfc,
  'darkblue': $darkblue,
  'darkblue-1': #0983e9,
  'darkblue-2': #2095f6,
  'darkblue-3': #43a5f7,
  'darkblue-4': #65b5f9,
  'darkblue-5': #87c6fa,
  'purple': $purple,
  'purple-1': #c72eff,
  'purple-2': #d151ff,
  'purple-3': #da75ff,
  'purple-4': #e499ff,
  'purple-5': #edbdff,
  'magenta': $magenta,
  'magenta-1': #d7508a,
  'magenta-2': #dd6d9e,
  'magenta-3': #e48ab1,
  'magenta-4': #eba7c4,
  'magenta-5': #f1c4d8,
  'darkpurple': $darkpurple,
  'darkpurple-1': #702eff,
  'darkpurple-2': #8951ff,
  'darkpurple-3': #a175ff,
  'darkpurple-4': #b999ff,
  'darkpurple-5': #d2bdff,
  'black': $black,
  'black-1': #222222,
  'black-2': #343434,
  'black-3': #464646,
  'black-4': #575757,
  'black-5': #696969
);

$lightdark: (
  'white': #fdfdfd,
  'light': #f0eef5,
  'dark': #03000a,
  'transparent': transparent
);

// bg gradient positions
$positions: (
  'top': top,
  'top-right': top right,
  'right': right,
  'bottom-right': bottom right,
  'bottom': bottom,
  'bottom-left': bottom left,
  'left': left,
  'top-left': top left
);
