@use 'sass:math';

$utilities: (
  'aspect-ratio': (
    'values': (
      aspect-auto: auto,
      aspect-square: math.div(1, 1),
      aspect-video: math.div(16, 9)
    )
  ),
  'columns': (
    'values': (
      col-auto: auto
    )
  ),
  'break-after': (
    'values': (
      break-after-auto: auto,
      break-after-avoid: avoid,
      break-after-all: all,
      break-after-avoid-page: avoid-page,
      break-after-page: page,
      break-after-left: left,
      break-after-right: right,
      break-after-column: column
    )
  )
);
