@use 'sass:math';

$utilities: (
  'aspect-ratio': (
    'values': (
      aspect-auto: auto,
      aspect-square: math.div(1, 1),
      aspect-video: math.div(16, 9)
    )
  ),
  'columns': (
    'values': (
      col-auto: auto
    )
  ),
  'break-after': (
    'values': (
      break-after-auto: auto,
      break-after-avoid: avoid,
      break-after-all: all,
      break-after-avoid-page: avoid-page,
      break-after-page: page,
      break-after-left: left,
      break-after-right: right,
      break-after-column: column
    )
  ),
  'break-before': (
    'values': (
      break-before-auto: auto,
      break-before-avoid: avoid,
      break-before-all: all,
      break-before-avoid-page: avoid-page,
      break-before-page: page,
      break-before-left: left,
      break-before-right: right,
      break-before-column: column
    )
  ),
  'break-inside': (
    'values': (
      break-inside-auto: auto,
      break-inside-avoid: avoid,
      break-inside-avoid-page: avoid-page,
      break-inside-avoid-column: avoid-column
    )
  ),
  'box-decoration-break': (
    'values': (
      box-decoration-clone: clone,
      box-decoration-slice: slice
    )
  ),
  'box-sizing': (
    'values': (
      box-border: border-box,
      box-content: content-box
    )
  )
);
