@mixin scaleNumbers($bp: 'scale-', $classname: transform, $firstnumber: -30, $secondnumber: 30, $calculate: 0.1) {
  @for $i from $firstnumber through $secondnumber {
    $spacing: $i * $calculate;

    @if ($bp == 'scale-') {
      @if ($spacing < 0) {
        .#{$bp}neg#{$spacing * 100} {
          #{$classname}: scale($spacing);
        }
        .hover\:#{$bp}neg#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      } @else {
        .#{$bp}#{$spacing * 100} {
          #{$classname}: scale($spacing);
        }
        .hover\:#{$bp}#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      }
    } @else if ($bp == 'scale-') {
      @if ($spacing < 0) {
        .#{$bp}neg#{$spacing * 100} {
          #{$classname}: scaleY($spacing);
        }
        .hover\:#{$bp}neg#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      } @else {
        .#{$bp}#{$spacing * 100} {
          #{$classname}: scaleY($spacing);
        }
        .hover\:#{$bp}#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      }
    } @else {
      @if ($spacing < 0) {
        .#{$bp}neg#{$spacing * 100} {
          #{$classname}: scaleX($spacing);
        }
        .hover\:#{$bp}neg#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      } @else {
        .#{$bp}#{$spacing * 100} {
          #{$classname}: scaleX($spacing);
        }
        .hover\:#{$bp}#{$spacing * 100} {
          &:hover {
            #{$classname}: scale($spacing);
          }
        }
      }
    }
  }
}

@mixin rotateNumbers($bp: 'rotate-', $classname: transform, $firstnumber: 0, $secondnumber: 360, $calculate: 1) {
  @for $i from $firstnumber through $secondnumber {
    $spacing: $i * $calculate;

    .#{$bp}#{$spacing} {
      #{$classname}: rotate($spacing * 1deg);
    }
    .hover\:#{$bp}#{$spacing} {
      &:hover {
        #{$classname}: rotate($spacing * 1deg);
      }
    }
  }
}

@mixin translateXMixin(
  $bp: '',
  $postfix: '',
  $classname: transform,
  $firstnumber: 1,
  $secondnumber: 100,
  $calculate: 1,
  $multiply: 1px
) {
  @for $i from $firstnumber through $secondnumber {
    $width: $i * $calculate;

    .#{$bp}#{$width}#{$postfix} {
      #{$classname}: translateX($width * $multiply);
    }
    .hover\:#{$bp}#{$width}#{$postfix} {
      &:hover {
        #{$classname}: translateX($width * $multiply);
      }
    }
  }
}

@mixin translateYMixin(
  $bp: '',
  $postfix: '',
  $classname: transform,
  $firstnumber: 1,
  $secondnumber: 100,
  $calculate: 1,
  $multiply: 1px
) {
  @for $i from $firstnumber through $secondnumber {
    $width: $i * $calculate;

    .#{$bp}#{$width}#{$postfix} {
      #{$classname}: translateY($width * $multiply);
    }
    .hover\:#{$bp}#{$width}#{$postfix} {
      &:hover {
        #{$classname}: translateY($width * $multiply);
      }
    }
  }
}

@mixin skewXMixin($bp: '', $multiply: 1deg) {
  @for $i from -25 through 25 {
    $arc: $i;

    @if $i <= -1 {
      .#{$bp}skew-neg-x#{$arc}deg {
        transform: skewX($arc * $multiply);
      }
      .#{$bp}hover\:skew-neg-x#{$arc}deg {
        &:hover {
          transform: skewX($arc * $multiply);
        }
      }
    } @else if $i >= 0 {
      .#{$bp}skew-x-#{$arc}deg {
        transform: skewY($arc * $multiply);
      }
      .#{$bp}hover\:skew-x-#{$arc}deg {
        &:hover {
          transform: skewY($arc * $multiply);
        }
      }
    }
  }
}

@mixin skewYMixin($bp: '', $multiply: 1deg) {
  @for $i from -25 through 25 {
    $arc: $i;

    @if $i <= -1 {
      .#{$bp}skew-neg-y#{$arc}deg {
        transform: skewY($arc * $multiply);
      }
      .#{$bp}hover\:skew-neg-y#{$arc}deg {
        &:hover {
          transform: skewY($arc * $multiply);
        }
      }
    } @else if $i >= 0 {
      .#{$bp}skew-y-#{$arc}deg {
        transform: skewY($arc * $multiply);
      }
      .#{$bp}hover\:skew-y-#{$arc}deg {
        &:hover {
          transform: skewY($arc * $multiply);
        }
      }
    }
  }
}
