$interactivityUtilitiesWebkit: (
  'appearance': (
    'values': (
      appearance-none: none,
      appearance-auto: auto
    )
  )
);

$interactivityUtilities: (
  'cursor': (
    'values': (
      cursor-auto: auto,
      cursor-default: default,
      cursor-pointer: pointer,
      cursor-wait: wait,
      cursor-text: text,
      cursor-move: move,
      cursor-help: help,
      cursor-not-allowed: not-allowed,
      cursor-none: none,
      cursor-context-menu: context-menu,
      cursor-progress: progress,
      cursor-cell: cell,
      cursor-crosshair: crosshair,
      cursor-vertical-text: vertical-text,
      cursor-alias: alias,
      cursor-copy: copy,
      cursor-no-drop: no-drop,
      cursor-grab: grab,
      cursor-grabbing: grabbing,
      cursor-all-scroll: all-scroll,
      cursor-col-resize: col-resize,
      cursor-row-resize: row-resize,
      cursor-n-resize: n-resize,
      cursor-e-resize: e-resize,
      cursor-s-resize: s-resize,
      cursor-w-resize: w-resize,
      cursor-ne-resize: ne-resize,
      cursor-nw-resize: nw-resize,
      cursor-se-resize: se-resize,
      cursor-sw-resize: sw-resize,
      cursor-ew-resize: ew-resize,
      cursor-ns-resize: ns-resize,
      cursor-nesw-resize: nesw-resize,
      cursor-nwse-resize: nwse-resize,
      cursor-zoom-in: zoom-in,
      cursor-zoom-out: zoom-out
    )
  ),
  'pointer-events': (
    'values': (
      pointer-events-none: none,
      pointer-events-auto: auto,
      pointer-events-visiblePainted: visiblePainted,
      pointer-events-visibleFill: visibleFill,
      pointer-events-visibleStroke: visibleStroke,
      pointer-events-visible: visible,
      pointer-events-painted: painted,
      pointer-events-fill: fill,
      pointer-events-stroke: stroke,
      pointer-events-all: all
    )
  )
);
