$background: (
  'background-attachment': (
    'values': (
      bg-fixed: fixed,
      bg-local: local,
      bg-scroll: scroll
    )
  ),
  'background-clip': (
    'values': (
      bg-clip-border: border-box,
      bg-clip-padding: padding-box,
      bg-clip-content: content-box,
      bg-clip-text: text
    )
  )
);
