@use '../variables/color' as *;

// text color (from: 1 is dark to: 5 is light)
// text-venetianred-1 etc.
@each $color, $hex in $colors {
  @for $i from 1 through 5 {
    $lighten: $i * 7%;
    $hover: ($i + 1) * 7%;
    $lighten-name: $i;

    .text-#{$color}-#{$lighten-name} {
      color: lighten($hex, $lighten);
    }
  }
}

// text color with hover effect (from: 1 is dark to: 5 is light)
// hov-text-venetianred-1 etc.
@each $color, $hex in $colors {
  @for $i from 1 through 5 {
    $lighten: $i * 7%;
    $hover: ($i + 1) * 7%;
    $lighten-name: $i;

    .hov-text-#{$color}-#{$lighten-name} {
      color: lighten($hex, $lighten);
      &:hover {
        color: lighten($hex, $hover);
      }
    }
  }
}

// default light and dark
@each $color, $hex in $lightdark {
  @for $i from 1 through 1 {
    $hover: ($i + 1) * 5%;
    $color-name: $i;

    .text-#{$color} {
      color: $hex;
    }
  }
}
// default light and dark with hover effect
@each $color, $hex in $lightdark {
  @for $i from 1 through 1 {
    $hover: ($i + 1) * 5%;
    $color-name: $i;

    .hov-text-#{$color} {
      color: $hex;
      &:hover {
        color: lighten($hex, $hover);
      }
    }
  }
}
.transition {
  font-size: 25rem;
  transition: all 0.5s ease;
}
