$tableValues: (
  'border-collapse': (
    'values': (
      border-collapse: collapse,
      border-separate: separate
    )
  ),
  'table-layout': (
    'values': (
      table-auto: auto,
      table-fixed: fixed
    )
  )
);
