@use 'sass:math';
@use '../../variables/color/variables' as *;

@mixin shadowColor($bp: '', $firstnumber, $secondnumber, $loop, $selector: hover) {
  @each $key, $val in $loop {
    $shadowSize: 10px 10px 20px -2.5px;
    @if ($firstnumber == 0) {
      @for $i from $firstnumber through $secondnumber {
        .#{$bp}#{$key} {
          box-shadow: $shadowSize $val;
        }
        .#{$selector}\:#{$bp}#{$key} {
          &:#{$selector} {
            box-shadow: $shadowSize $val;
          }
        }
      }
    } @else {
      @for $i from $firstnumber through $secondnumber {
        $lighten: $i * 7%;

        .#{$bp}#{$key}-#{$i} {
          box-shadow: $shadowSize lighten($val, $lighten);
        }
        .#{$selector}\:#{$bp}#{$key}-#{$i} {
          &:#{$selector} {
            box-shadow: $shadowSize lighten($val, $lighten);
          }
        }
      }
    }
  }
}

@mixin opacityMixin($bp: opacity-, $firstnumber: 0, $secondnumber: 1, $classname: opacity, $calculate: 10) {
  @for $i from $firstnumber through $secondnumber {
    $animationvalue: math.div($i, $calculate);
    $postfix: $i * 10 + 'per';

    .#{$bp}#{$postfix} {
      #{$classname}: $animationvalue;
    }
    .hover\:#{$bp}#{$postfix} {
      &:hover {
        #{$classname}: $animationvalue;
      }
    }
  }
}

@mixin blendModeMixin($bp: '', $loop) {
  @each $property, $map in $loop {
    $key: map-get($map, 'keys');
    $values: map-get($map, 'values');

    @each $k, $v in $values {
      .#{$bp}#{$key}#{$k} {
        #{$property}: $v;
      }
      .hover\:#{$bp}#{$key}#{$k} {
        &:hover {
          #{$property}: $v;
        }
      }
    }
  }
}
