@use 'sass:math';
@use '../../variables/color/variables' as *;

@mixin shadowColor($bp: '', $firstnumber, $secondnumber, $loop, $selector: hover) {
  @each $key, $val in $loop {
    $shadowSize: 10px 10px 20px -2.5px;

    @for $i from $firstnumber through $secondnumber {
      .#{$bp}#{$key} {
        box-shadow: $shadowSize $val;
      }
      .#{$selector}\:#{$bp}#{$key} {
        &:#{$selector} {
          box-shadow: $shadowSize $val;
        }
      }
    }
  }
}
