@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'PlayfairDisplay';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../../fonts/Playfair-Display/PlayfairDisplay-BlackItalic.woff2') format('woff2');
}
