// individual colors
$red: #ce1f1a;
$darkorange: #d54913;
$orange: #e98f1f;
$lightorange: #ffd300;
$yellow: #deff0a;
$yellowgreen: #a1ff0a;
$lightgreen: #0aff99;
$green: #3f7d1a;
$lightblue: #0aefff;
$blue: #147df5;
$darkblue: #0870c7;
$purple: #be0aff;
$magenta: #d03377;
$darkpurple: #580aff;

// theme color
$colors: (
  'red': #ce1f1a,
  'darkorange': #d54913,
  'orange': #e98f1f,
  'lightorange': #ffd300,
  'yellow': #deff0a,
  'yellowgreen': #a1ff0a,
  'lightgreen': #0aff99,
  'green': #3f7d1a,
  'lightblue': #0aefff,
  'blue': #147df5,
  'darkblue': #0870c7,
  'purple': #be0aff,
  'magenta': #d03377,
  'darkpurple': #580aff
);

$lightdark: (
  'light': #f0eef5,
  'dark': #03000a
);

// bg gradient positions
$positions: (
  'top': top,
  'top-right': top right,
  'right': right,
  'bottom-right': bottom right,
  'bottom': bottom,
  'bottom-left': bottom left,
  'left': left,
  'top-left': top left
);
